{:jobset/exec "/home/bandoos/.local/bin/sim-stake.sh"
 :jobset/label "random-run.0"
 :jobset/params
 [
  {"--times" #{1000}
   "--T" #{100 1000 10000}
   "--m" #{3 10 100 1000}
   "--c" #{0.001 0.01 0.1 0.5 1 2 10 100}
   "--stake_f" #{"eq","beta","pareto"}
   "--sim" #{"random"}
   "--id" #{0}
   }]}
