{:jobset/exec "/home/bandoos/.local/bin/sim-stake.sh"
 :jobset/label "testrun-sim.core"
 :jobset/params
 [
  {"--times" #{100}
   "--T" #{100 1000 10000}
   "--m" #{3 10 100 1000}
   "--c" #{0.01 0.1 0.5 1 2 10 100}
   "--stake_f" #{"eq","gamma_1"}
   "--sim" #{"random" "const" "geom" "log_const" "log_geom"}
   "--id" #{0}
   }]}
